.container1{
    background-color: rgb(203, 200, 202);
    padding: 5px 5px 5px 5px;
    text-align: center;
}

.fundo{
    background-color: rgb(250, 226, 246);
}

h2{
    color: rgb(96, 95, 93);
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

input[type="number"] {
    width: 80%;
    padding: 8px;
    margin-top: 6px;
    border: 1px solid #ee07c7;
    border-radius: 10px;
}

button{
    width: 80%;
    padding: 8px;
    margin-top: 8px;
}
